body {
    font-family: 'Encode Sans Expanded', sans-serif;
    margin: 4em;
}

.sprite-sheet {
	background: url('sprites/form-elements-sprite.png') no-repeat;
}

h1 {
    text-decoration: underline;
    text-align: center;
    color: rgb(93, 87, 87);
}

#NOTE {
    border: none;
    color: gray;
    margin: 2em 3em;
    line-height: 1.7;
    font-style: italic;
}

label {
    display: inline-block;
}

input {
    width: 100%;
}

.text1 {
    border: 1px solid rgb(93, 87, 87);
    color: #c3c1c1;
    font-size: 1.5em;
    padding: .5em;
    margin: 0;
}

.text-input {
    color: rgb(52, 49, 49);
    margin-top: 4em;
    margin-bottom: .5em;
    font-size: 1.5em;
    font-weight: 900;
}

input:valid {
    border: 1px solid rgb(93, 87, 87);
}

input:invalid {
    border: 1px solid red;
    font-size: 1.5em;
    color: red;
}

#red-box {
    color: red;
}

select {
    border: 1px solid rgb(93, 87, 87);
    border-radius: inherit;
    font-size: 1.5em;
    padding: .5em;
    width: 100%;
}

option {
    border: rgba(169, 165, 165, 0.5);
    color: #5f5d5d;
    font-size: 1.6em;
    padding: 1.2em;
}

#checky {
    display: none;
}

.odd-options {
    background-color: #999f99;
}

#radio1 {
    display: none;
}

.check-box-label {
    background-position: -158px -239px;
	width: 161px;
    height: 160px;
}

.check-box:checked+.check-box-label {
    background-position: -381px -239px;
    width: 161px;
	height: 160px;
}

.radio-button-label {
    background-position: -582px -242px;
    width: 167px;
    height: 166px;
}

.radio-button:checked+.radio-button-label {
    background-position: -812px -242px;
    width: 168px;
	height: 166px; 
}

button {
    background-color: #dddde1;
    display: inline block;
    font-size: 1.6em;
    margin-right: 1em;
    padding: .7em 1.75em;
    color: black;
}

button:focus {
    background-color: #48484f;
    color: white;
}